body{
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS-qAvAZgP_3lQqwhXBRhaUNnQuW0Vjx4fTYIZWrw05QA&usqp=CAU&ec=48665701");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}